*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.contenedor{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contenedor div{
    padding: 20px;
    border: 1px solid #000;
}

.contenedor button{
    padding: 8px 18px;
    cursor: pointer;
}

.comprar{
    padding: 12px 42px;
    margin: 50px;
}

.resetear{
    padding: 12px 42px;
}